body {
	color: white;
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { background-color: white; }
    to   { background-color: #c9ffc4; }
}
@-webkit-keyframes fadeinyellow {
    from { background-color: white; }
    to   { background-color: #feffe0; }
}

.info-modal {
	padding: 15px;
    width: 500px;
    background-color: #efefef;
    border: 1px solid Black;
    text-align: left;
    position: absolute;
    top: calc(30vh - (/* height */300px / 2));
    left: calc(50vw - (/* width */500px / 2));
    .title {
    	margin: 0;
    	text-align: center;
    }
}

.repo-title {
	font-size: 25px;
	background-color: #efefef;
    height: 5vh;
    text-align: center;
    border: solid 1px;
}

.user-box-holder {
	display: flex;
	flex-wrap: wrap;
}

.user-box {
	width: 300px;

	.title-bar {
		position: absolute;
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 60px;
		width: 295px;
		background-color: #efefef;
		border-right: solid 2px black;
		border-left: solid 2px black;
		border-top: solid 2px black;

		.user-name {
			font-size: 30px;
		}
	}

	.spacer-div {
		height: 60px;
	}

	.event-list {
    	overflow-y: auto;
    	border: solid 2px black;
	}

	.event-tile {
		display: flex;
		border: solid 1px black;
		background-color: white;
		.event-icon {
			padding: 4px;
    		font-size: 30px;
    		min-width: 50px;
		}

		.event-info {
			padding-top: 5px;
    		padding-bottom: 5px;
			.event-text {

			}

			.event-time {
				font-size: 10px;
			}
		}

		&.new-event {
			background-color: #c9ffc4;
    		-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	        -moz-animation: fadein 2s; /* Firefox < 16 */
	        -ms-animation: fadein 2s; /* Internet Explorer */
	        -o-animation: fadein 2s; /* Opera < 12.1 */
	        animation: fadein 2s;
    	}

    	&.medium-event {
			background-color: #feffe0;
    		-webkit-animation: fadeinyellow 2s; /* Safari, Chrome and Opera > 12.1 */
	        -moz-animation: fadeinyellow 2s; /* Firefox < 16 */
	        -ms-animation: fadeinyellow 2s; /* Internet Explorer */
	        -o-animation: fadeinyellow 2s; /* Opera < 12.1 */
	        animation: fadeinyellow 2s;
    	}

    	&.old-event {
 			color: #d0d0d0;
     	}


	}
}


.member-list {
	font-weight: 100;
	background: #efefef;
	width: 250px;
	height: 100%;
	padding-left: 40px;
	position: fixed;
	z-index: 100;
	-webkit-box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: -3px 0px 5px 0px rgba(0,0,0,0.2);
	top: 0px;
	right: -260px;
	transition: all .3s;
	-webkit-transition: all .3s;
	color: #222;

	&:hover {
	  transform: translate3d(-230px, 0, 0);
	  animation-timing-function: 1s ease-in;
	}

	.title {
	  top: 50%;
	  position: absolute;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	  transform: rotate(270deg);
	  left: -45px;
	  font-weight: 800;
	  font-size: 15px
	}

	.members-holder {
		height: 100%;
		overflow-y: auto;
	}

	.member-tile {
		padding: 5px 0px 5px 20px;
		&.selected-user {
			background-color: #bcdaff;
		}
	}
}





.auth-page {
	background-image: url("/carpet-tiles.jpg");
	text-align: center;
	background-color: lightgrey;

	h1 {
		display: inline-block;
		background-color: tomato;
		color: black;
	}
	.manager-image {
		height: 200px;
		width: 300px;
		margin-bottom: 23px;
	}
	a {
		background-color: orchid;
		padding: 9px;
	}
	.trademark {
		display: block;
		margin-top: 200px;
	}
}