body {
	background-image: url("/carpet-tiles.jpg");
	background-color: darkgrey;
	color: white;
	margin: 0;
	overflow: hidden;
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { background-color: white; }
    to   { background-color: #c9ffc4; }
}
@-webkit-keyframes fadeinyellow {
    from { background-color: white; }
    to   { background-color: #feffe0; }
}

h1 {
	background-color: tomato;
	color: black;
	text-align: center;
}

.info-modal {
	padding: 5px;
  background-color: black;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	text-align: center;
	
	h2 {
		display: block;
		background-color: turquoise;
		color: black;
		border-bottom: 1px solid lightgrey;
	}
}

.repo-title {
	display: flex;
	justify-content: space-around;
	font-size: 25px;
	background-color: #efefef;
    height: 5vh;
    text-align: center;
    border: solid 1px;
    color: black;
    padding-right: 250px;

    div {
    	line-height: 5vh;
    }
}

.user-box-holder {
	display: flex;
	flex-wrap: wrap;
}

.user-box {
	width: 300px;
	.title-bar {
		position: absolute;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 299px;
		background-color: tomato;
	}

	.spacer-div {
		height: 57px;
	}

	.event-list {
    	overflow-y: scroll;
    	border: solid 2px black;
	}

	.event-tile {
		display: flex;
		border: solid 1px black;
		background-color: white;
		cursor: pointer;
		color: black;
		.event-icon {
			padding: 4px;
    		font-size: 30px;
    		min-width: 50px;
		}

		.event-info {
			padding-top: 5px;
    		padding-bottom: 5px;
			.event-text {

			}

			.event-time {
				font-size: 10px;
			}
		}

		&.new-event {
			background-color: #c9ffc4;
    		-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	        -moz-animation: fadein 2s; /* Firefox < 16 */
	        -ms-animation: fadein 2s; /* Internet Explorer */
	        -o-animation: fadein 2s; /* Opera < 12.1 */
	        animation: fadein 2s;
    	}

    	&.medium-event {
			background-color: #feffe0;
    		-webkit-animation: fadeinyellow 2s; /* Safari, Chrome and Opera > 12.1 */
	        -moz-animation: fadeinyellow 2s; /* Firefox < 16 */
	        -ms-animation: fadeinyellow 2s; /* Internet Explorer */
	        -o-animation: fadeinyellow 2s; /* Opera < 12.1 */
	        animation: fadeinyellow 2s;
    	}

    	&.old-event {
 			color: #d0d0d0;
     	}


	}
}


.member-list {
	background-color: black;
	width: 250px;
	height: 100%;
	position: fixed;
	top: -100%;
	right: 0;
	z-index: 100;
	transition: all .3s;

	&:hover {
	  transform: translate3d(0, 100%, 0);
	  animation-timing-function: 1s ease-in;
	}

	.title {
		background-color: palegoldenrod;
		color: saddlebrown;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
		position: relative;
		top: 100%;
		border: solid 1px;
	}

	.members-holder {
		height: 100%;
		overflow-y: auto;
	}

	.member-item {
		font-size: 22px;
		margin-bottom: 5px;

		&.selected-user {
			background-color: #bcdaff;
		}
		&.group-item {
			background-color: green;
		}
	}
}



.auth-page {
	text-align: center;
	.manager-image {
		height: 200px;
		width: 300px;
		margin-bottom: 23px;
	}
	h1 {
		display: inline-block;
	}
	a {
		background-color: orchid;
		padding: 9px;
	}
	.trademark {
		display: block;
		margin-top: 200px;
	}
}